<!-- Le template d'un composant Hero 

  Ce template est un fragment d'HTML qui sera utilisé pour afficher le composant Hero.
  Ce n'est pas un document HTML valide en soit. Il ne contient pas de balise <html>, <head>, <body>, etc...
  C'est un fragment d'HTML qui devra être formaté (remplacement des tags {{...}}) avant d'être inséré dans un document HTML.

  Procéder ainsi évite de placer le template dans un élément <template> du document HTML.
  Bien que la technique soit 200% valide, elle peu devenir difficile à gérer si on a beaucoup
  de composants et donc beaucoup de templates à gérer.
-->
    <!-- Block hero -->
    <section 
      class="hero"
      style="--bg-hero: url('{{background}}')">
      <!-- Element hero__title -->
      <h1 class="hero__title">{{title}}</h1>
       <!-- Element hero__desc -->
      <p class="hero__desc">
        {{description}}
      </p>
    </section>
    <!-- End block hero -->